
.add-animal {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    height: 50px;
    align-content: flex-start;
}

.prompts {
    display: flex;
    border: 5px solid brown;
    border-radius: 8px;
    background-color: #fbc4ab;
    width: 100%;
    margin: auto;
}
.prompt-text {
    margin-bottom: 1.5rem;
}