
.form__signin {
    margin: auto;
    background: #ffdab9;
    justify-content: center;
    text-align: center;
    width: 20%;
    padding: 10px;
    /* Borders */
    border: 5px solid brown;
    border-radius: 8px;
    box-shadow: 5px 6px indianred;
}

.form__submit {
    border: 2px solid brown;
    border-radius: 8px;
    background-color: antiquewhite;
    cursor: pointer;
    margin: 1rem;
    width: 40%
}

input {
    width: 60%;
}